<?xml version"1.0"?>
<model>
	<name>LARI_urdf.urdf</name>
	<version>1.0</version>
	<sdf version="1.4">model.sdf</sdf>
	
	<author>
		<name> Shaun Hoerner </name>
	</author>
	
	<description>
		For the lunar mining robot to be used in the 2024 NASA Robotic Mining competition by Apuleius, the team at Colorado School of Mines.
	</description>
</model>
